div.navbar {
    background-color: rgba(19, 6, 81, 0.6); 
    color: white;
}

#hero-image.rounded-circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
    border: rgba(19, 6, 81, 0.6) solid 16px;
}
.educationBadges {
    width: 300px; /* You can set the dimensions to whatever you want */
    height: 300px;
    object-fit: cover;
}

.skillIcons {
    width: 100px; /* You can set the dimensions to whatever you want */
    height: 100px;
    object-fit: cover;
}
.backgroundContainerColor{
    background-color: rgba(221, 221, 221, 0.904);
}
#resumeTop {
    background-image: linear-gradient(rgba(0, 0, 0, 0.664), rgba(0, 0, 0, 0.664)), url('images/backgroundImageCard.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-bottom: 50px;
    color: white;
}

