.bodyContainer {
    margin-top: 18%;
}
.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.664), rgba(0, 0, 0, 0.664)), url('backgroundImageCard.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-bottom: 50px;
    color: white;
    position: fixed;
    top: 0px;
    z-index: 1;
    width: 100%;
}

#hero-image.rounded-circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
    border: rgba(3, 0, 28,0.6) solid 16px;
    float: left;
}
.educationBadges {
    width: 300px; /* You can set the dimensions to whatever you want */
    height: 300px;
    object-fit: cover;
}

.skillIcons {
    width: 100px; /* You can set the dimensions to whatever you want */
    height: 100px;
    object-fit: cover;
}
.backgroundContainerColor{
    background-color: rgba(91, 143, 185, 0.20);
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
    background-color:rgb(48, 30, 103);
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    background-color:white;
    
}
.carousel-item img {
    height: 50vh;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
  }

  .carousel-item:after {
    content: "";
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:rgba(0,0,0,0.3);
  }

  .carousel-caption {
    z-index: 1;
  }

  .contact-logo {
    width: 100px;
  }

.aboutMeBorder {
    background: rgb(48, 30, 103);
    padding: 12px;
    border: 5px solid rgb(48, 30, 103);
    color: white;
}

.FixedBox {
    bottom: 10px;
    right: 10px;
    position: fixed;
    color: white;
    background: rgb(109, 145, 37);
    padding: 12px;
    border: 5px solid rgb(48, 30, 103);
    border-style: outset;
    margin-right: 20px;
    margin-bottom: 20px;
}

