.gameImages {
    width: 550px;
    max-height: fit-content;
}

.leftPanel {
    z-index: 0;
    position: absolute;
    left: 0px;
    top: 210px;
    width: 150px;
    padding: 10px;
    background-color: rgb(109, 145, 37);
    color: white;
    min-height: 100%;
}

.middlePanel {
    color:rgb(48, 30, 103);
    padding: 10px;
    max-width: 100%;
}

.rightPanel {
    z-index: 0;
    position: absolute;
    right: 0px;
    top: 210px;
    width: 150px;
    padding: 10px;
    background-color: rgb(109, 145, 37);
    color: white;
    min-height: 100%;
}

.FixedBox {
    bottom: 10px;
    right: 10px;
    position: fixed;
    color: white;
    background: rgb(109, 145, 37);
    padding: 12px;
    border: 5px solid rgb(48, 30, 103);
    border-style: outset;
    margin-right: 170px;
    margin-bottom: 20px;
}